﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Defaultsss.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>hermesAlert</title>
    <meta name="description" content="hermesAlert personal items, missing persons and pets and general incidents tracker" />
    <meta name="keywords" content="report,alert,notification,missing,people,persons,pets,commnunity,watch,neighbourhood,pesonal,register,South,Africa" />
    <meta name="WebsiteSpark" content="Cf4gM4IjlO" />
    <meta name="google-site-verification" content="8ym-mCDGTeMgtQzQNIFFeBzF67b_L6yfk6FK1keEX6o" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
