﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Button.ascx.cs" Inherits="WebControls_Button" %>
<asp:Button ID="uxButton" runat="server" SkinID="NormalNoWidthGiven" OnClick="uxButton_Click" />
