﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ButtonMenu.ascx.cs" Inherits="WebControls_ButtonMenu" %>
<%--<asp:Button ID="uxButton" runat="server" SkinID="NormalDefined" OnClick="uxButton_Click" />--%>
<asp:HyperLink ID="uxButton" CssClass="buttonMenu cornersButton" runat="server"></asp:HyperLink>

