﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Upload.aspx.cs" Inherits="WebControls_Upload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>File upload</title>
    <style type="text/css">
        BODY{margin:0; padding:0; background-color:#F0F8FF;}        
    </style>
</head>
<body>
    <asp:Label ID="Label1" runat="Server" BackColor="red" Text="Here!" />
</body>
</html>
