﻿@import url('../BaseTheme/BaseTheme.css');

.SelectedRowStyle td
{
    background-color: #888888;
}

.pageSectionHeading
{
    background-color: #555555;
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#444));
    background: -moz-linear-gradient(top,  #555,  #444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#444444');
    background: -o-linear-gradient(bottom, #555, #444);
    border: 1px solid #666666;
    height:22px;
}

.buttonMenu
{
    display:inline-block;  
    text-decoration:none; 
    background-color:#454560;  
    Font-Size:10.5pt; 
    font-family: Verdana;
    padding:2px 2px 4px 2px;
    Width:122px; 
    color:#ffffff; 
    border:2px solid #606080; 
    font-weight:normal;
    text-align:center; 
    vertical-align:middle;          
}

.buttonMenu:hover
{ 
    border:2px solid #aaaacc;
    color:#eeeeff; 
}

.filterCriteria
{
    height:22px;
    margin-bottom:2px;
    padding:2px;
    background:#a1a1a1; 
    margin-left:auto;
    margin-right:auto;
    border:1px solid #006699;
    position:relative;
}