﻿@using MvcContrib.UI.Grid;


@model derotek.HairyDog.Users.Entities.User

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>




@{ Html.Grid((List<derotek.HairyDog.Users.Entities.User>)ViewData["users"])
       .Columns(column =>
       {
           column.For(c => c.Surname + ", " + c.Name).Header(@<div>Full name</div>);
           column.For(c => c.LastLoginDate).Header(@<div>Last login</div>).Format("{0:ddd dd MMM yyyy HH:mm:ss}");
       }).Render();
}