﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="SelectGpsLocation.aspx.cs" Inherits="Pages_Main_SelectGpsLocation" %>
<%@ Register Src="~/WebControls/GoogleMap.ascx" TagPrefix="uc" TagName="GoogleMap" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div runat="server" >
        <uc:GoogleMap runat="server" />
    </div>
</asp:Content>

