﻿@import url('../BaseTheme/BaseTheme.css');

.SelectedRowStyle td
{
    background-color: #8888aa;
}

.buttonMenu
{
    display:inline-block;  
    text-decoration:none; 
    background-color: #777777;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#111));
    background: -moz-linear-gradient(top,  #ccc,  #111);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#111111');
    background: -o-linear-gradient(bottom, #ccc, #111);
    Font-Size:10.5pt; 
    font-family: Verdana;
    padding:2px 2px 4px 2px;
    Width:122px; 
    color:#ffffff; 
    border:1px solid #4455ee; 
    font-weight:normal;
    text-align:center; 
    vertical-align:middle;          
}   
       
.buttonMenu:hover
{ 
    border:1px solid #ee7777;
    color:#eeeeff; 
}

.filterCriteria
{
    height:22px;
    margin-bottom:2px;
    padding:2px;
    background:#eeffee; 
    margin-left:auto;
    margin-right:auto;
    border:1px solid #667f66;
    position:relative;
}

.pageSectionHeading
{
    background-color: #909090;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#222));
    background: -moz-linear-gradient(top,  #bbb,  #222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#222222');
    background: -o-linear-gradient(bottom, #bbb, #222);
    border: 1px solid #555555;
    height:22px;
}