﻿body 
{
    background-image: url(Images/backgroundTile.png);
    background-repeat: repeat-x;
    height:110%;
    background-color:#000000;        
    font-size:small;
    color:Black;
}

/*GridViewCSS Soft Grey Style*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border:#444 1px solid;
    color:#1100FF;
    width:1185px;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background-image: url(Images/HeaderSoftGrey.jpg);
    background-position:center;
    background-repeat:repeat-x;
    background-color:#1d1d1d;
    text-align:left;
}
.HeaderStyle th
{
    padding: 5px;
    color: #ffffff;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;
}
.PagerStyle td
{
    border-top: #1d1d1d 1px solid;
}
.PagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.PagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.RowStyle td
{
    background-color: #e2e2e2;
}

.AltRowStyle td
{
    background-color: #f0f0f0;
}
.SelectedRowStyle td
{
    background-color: #88aa88;
}


.Section 
{
    box-shadow: 2px 2px 4px rgba(68,68,68,0.6);
    border-radius: 5px;              
    background-image:url(../../Images/SectionBackground.jpg)
}
.corners 
{        
    border-radius: 4px;
}

.cornersPageSectionHeading
{
    box-shadow: 2px 2px 4px rgba(68,68,68,0.6);
    border-radius: 4px 4px 0px 0px;    
}

.cornersButton 
{
    box-shadow: 2px 2px 4px rgba(68,68,68,0.6);
    border-radius: 4px;    
}
.cornersButtonTight
{
    box-shadow: 2px 2px 6px rgba(68,68,68,0.6);
    border-radius: 2px;
}
.cornersNote
{
    box-shadow: 4px 4px 6px rgba(68,68,68,0.6);
    border-radius: 10px;
}
.cornersMenu
{
    box-shadow: 4px 4px 6px rgba(68,68,68,0.6);
    border-radius: 2px;
}
.cornersMessageBox
{
    border-radius: 4px;
}
.cornersDivAndTable
{
    border-radius: 4px;
}
.cornersRoundedImage
{
    border-radius: 4px;
}

.SmallWarningFont
{
    color:#bd2c2c; 
    font-weight:bold;
    font-size:9pt;
    font-family:Arial, Helvetica, sans-serif;
}

.SmallFont
{
    color:#383896;
    font-weight:bold;
    font-size:8.5pt;
    font-family:Arial, Helvetica, sans-serif;  
}

.StandardFont
{    
    font-weight:bold;
    color:#383896;
    font-size:10.5pt;
    font-family:Arial, Helvetica, sans-serif;    
}

.StandardFontInput
{    
    font-weight:Normal;
    color:#383896;
    font-size:10.5pt;
    font-family:Arial, Helvetica, sans-serif;    
}


/*Text boxes, dropdowns etc*/
.InputItems
{    
    background-color:#ffffff;    
}



/*BUTTONS*/
.buttonMenuLight
{
    display:inline-block;  
    text-decoration:none; 
    background-color:#fffffd;  
    Font-Size:12pt; 
    padding:2px;
    Width:105px; 
    color:#3535ff; 
    border:2px solid #aaaaff; 
    font-weight:normal;
    text-align:center; 
    vertical-align:middle;          
} 
.buttonMenu
{
    display:inline-block;  
    text-decoration:none; 
    background-color:#44444f;  
    Font-Size:10.5pt; 
    font-family: Verdana;
    padding:2px 2px 4px 2px;
    Width:122px; 
    color:#ffffff; 
    border:1px solid #555565; 
    font-weight:normal;
    text-align:center; 
    vertical-align:middle;          
}
   
.buttonMenu:hover
{ 
    border:1px solid #a06060; 
    color:#bbffbb; 
}

.normalMenuLogout
{
    display:inline-block;  
    text-decoration:none; 
    background-color:#ffeeee;  
    Font-Size:10pt; 
    padding:2px;
    Width:50px; 
    color:#3535ff; 
    border:1px solid #ff9999; 
    font-weight:normal;
    text-align:center; 
    vertical-align:middle;            
}       
.normalMenuLogout:hover
{ 
    background-color:#ffdddd;
    border:1 solid red;
}

.pageSectionHeading
{
    background-color: #808080;
    border: 1px solid #555555;
    height:22px;
}


.filterCriteria
{
    height:22px;
    margin-bottom:2px;
    padding:2px;
    background:#c0d9c0; 
    margin-left:auto;
    margin-right:auto;
    border:2px solid #006699;
    position:relative;
}